<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Zip code</th>
      <th>Twitter handle</th>
      <th>Github user name</th>
      <th>Over 21</th>
      <th>Age</th>
      <th>Operating system</th>
      <th>Workshop</th>
      <th>Rating</th>
      <th>Coach</th>
      <th>Pair</th>
      <th>Accepted</th>
      <th>Attended</th>
      <th>Phase one</th>
      <th>Phase two</th>
      <th>Phase three</th>
      <th>Phase four</th>
      <th>Phase five</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td><%= student.phone %></td>
        <td><%= student.zip_code %></td>
        <td><%= student.twitter_handle %></td>
        <td><%= student.github_user_name %></td>
        <td><%= student.over_21 %></td>
        <td><%= student.age %></td>
        <td><%= student.operating_system %></td>
        <td><%= student.workshop %></td>
        <td><%= student.rating %></td>
        <td><%= student.coach %></td>
        <td><%= student.pair %></td>
        <td><%= student.accepted %></td>
        <td><%= student.attended %></td>
        <td><%= student.phase_one %></td>
        <td><%= student.phase_two %></td>
        <td><%= student.phase_three %></td>
        <td><%= student.phase_four %></td>
        <td><%= student.phase_five %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
