<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @student.zip_code %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @student.twitter_handle %>
</p>

<p>
  <strong>Github user name:</strong>
  <%= @student.github_user_name %>
</p>

<p>
  <strong>Over 21:</strong>
  <%= @student.over_21 %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @student.operating_system %>
</p>

<p>
  <strong>Workshop:</strong>
  <%= @student.workshop %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @student.rating %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @student.coach %>
</p>

<p>
  <strong>Pair:</strong>
  <%= @student.pair %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @student.accepted %>
</p>

<p>
  <strong>Attended:</strong>
  <%= @student.attended %>
</p>

<p>
  <strong>Phase one:</strong>
  <%= @student.phase_one %>
</p>

<p>
  <strong>Phase two:</strong>
  <%= @student.phase_two %>
</p>

<p>
  <strong>Phase three:</strong>
  <%= @student.phase_three %>
</p>

<p>
  <strong>Phase four:</strong>
  <%= @student.phase_four %>
</p>

<p>
  <strong>Phase five:</strong>
  <%= @student.phase_five %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
